doctype html
html
	head
	title= "The Hunt"
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src="/javascripts/countdown.js")
	script(src="/javascripts/global.js")
	link(rel="icon", href="/images/logo.png")
	body
		p What is this?
    
