doctype html
html
	head
		title= "The Hunt"
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/countdown.js")
		script(src="/javascripts/global.js")
		link(rel="icon", href="/images/logo.png")
		script(src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous")
		link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
	body
		nav(class="container-fluid navbar navbar-default".role="navigation",id="titlebar")
			div(class="container-fluid")
				div(class="navbar-header")
					h1(id="titlebartitle",class="col-md-6 col-lg-6") The Hunt: Paid Scavenger Hunt in Boston
				div(class="nav navbar-nav")
					a(href="faq",id="navbarlink",class="col-md-6 col-lg-6") This is a navbar
		div(id="frontpagetestimonialbar",class="container-fluid jumbotron nomarginrow")
			p(id="testimonials") Most fun ever
		div(id="content",class="text-center pagination-centered nomarginrow")
			div(id="countdownholder")
				p(id="frontpagetext") Time until the next hunt:
				div(id="countdown")
			div(id="vertical-divider")
			div(id="hunt-join")
			p(id="frontpagetext") Sign up to participate
			form(id="form",action="/hunterjoin",method="post",onsubmit="return formvalidation()")
				input(type="text",id="HunterEmail",name="HunterEmail",style="color:#888;", value="HunterEmail", onfocus="inputFocus(this)",onblur="inputBlur(this)")
				p(id="errormessageholder")
				div(id="submitbuttonholder")
					button(type="submit",action="post",id="frontpagesubmitbutton",class="submitbutton") I want to participate in Boston's greatest scavenger hunt
					
    
