doctype html
html
	head
		title= "The Hunt- Hunter Join"
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="icon", href="/images/logo.png")
		link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		script(src="https://code.jquery.com/jquery-1.1p.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="/javascripts/global.js")
	body
	
		h1 Okay! Thanks for signing up!
		h2 Sign up in the green box. There's more information in the red box
		
		br
		div(id="hunter-join-content",class="row")
			div(id="hunt-explanation",class="col-md-6 col-lg-6")
				section 
					h1 How the upcoming hunt works
					ul
						li Hunters will hunt in the greater Boston area, centered in Cambridge
						li Hunt will begin at 3 PM on Hunt Date
						li You wil receive a text message with the first clue. Decoding the first clue will take you to the second clue.
						li There are 8 clues in total.
						li ...First team to the last clue gets $100 and their names on a billboard
						li Here's a first clue to start thinking about...What's the ship that never sinks?
			div(id="joinform",class="col-md-4 col-lg-3")
				p Okay your email is #{email}  
				p Confirm your email and your phone number to become a Hunter. We'll text you the first clue on July 16th if there are enough Hunters.
				form(class="form",id="addhunterpagejoinform",action="/adduser",method="post",onsubmit="return confirmemail('#{email}')")
					div(id="form-group")
						label(id="namelabel",for="nameinputform") Hunter Name
						input(type="text",name="huntername",id="nameinputform")
					div(id="form-group")
						label(id="emaillabel",for="(phonenumberinputform") Email (Confirm)
						input(type="text",name="email",id="email")
						div(id="errormessageonjoin")
					div(id="form-group")
						label(id="phonenumberlabel",for="(phonenumberinputform") Hunter Phone Number
						input(type="text",name="phonenumber",id="phonenumber")
					button(type="submit",action="post",id="frontpagesubmitbutton",class="submitbutton") Join
					