html
	head
		title= "The Hunt"
		script(src="/javascripts/countdown.js")
		script(src="/javascripts/global.js")
		link(rel="icon", href="/images/logo.png")
		script(src="https://code.jquery.com/jquery-1.1p.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous")
		link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="/javascripts/googleanalytics.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav(class="navbar navbar-static-top container-fluid",role="navigation",id="titlebar")
			div(class="navbar-inner container-fluid")
				div(class="navbar-header") 
					img(src="/images/logo.png",id="logo")
					h3 The Hunt Boston
				ul(class="nav navbar-nav pull-right")
					li(class="active")
		div(class="jumbotron container-fluid row secondjumbo", id="bigfrontpageimage")
			div(id="padding")
			img(src="/images/huntersheroshot.jpg" id= "heroshot")
			div(id="explanatorytext")
				h1(class="frontheading",id="frontheading") Fun, battle-royale scavenger hunt
				b(id="smallheadingtext") A paid scavenger hunt in Boston for those who love puzzles. On hunt day, youll have two hours to follow the clues to the prize. 
				br
				br
				b(id="smallheadingtext") Sign up and we'll send you the first clue via text on July 16th. Participants or teams pay $2.
				br
				br
				b(id="smallheadingtext")  The winning team or person gets $100 and their name on a billboard
				br
				br
				form(id="form",action="/hunterjoin",method="post",onsubmit="return formvalidation()")
					input(type="text",id="HunterEmail",name="HunterEmail",style="color:#888;", value="Enter your email", onfocus="inputFocus(this)",onblur="inputBlur(this)")
					p(id="errormessageholder")
					div(id="submitbuttonholder")
						button(type="submit",action="post",id="frontpagesubmitbutton",class="submitbutton") I want to participate
		div(class="container-fluid text-center pagination-centered nomarginrow" id="content")
				div(id="countdownholder" class="row")
					div(class="col-sm-4")
						p(id="frontpagecountdowntext" class="lead") The next hunt begins in:
						div(id="countdown", class="green")
					div(class="col-sm-4")
						p(id="frontpagecountdowntext" class="lead") Number of hunters signed up
						div(id="numberhunters",class="green")
							p 52
					div(class="col-sm-4")
						p(id="frontpagecountdowntext" class="lead") Current prize amount
						div(id="prizeamount", class="green")
							p $100
		div(id="red-background")