html
	head
		title= "The Hunt"
		script(src="/javascripts/countdown.js")
		script(src="/javascripts/global.js")
		link(rel="icon", href="/images/logo.png")
		script(src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous")
		link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav(class="navbar navbar-static-top container-fluid",role="navigation",id="titlebar")
			div(class="navbar-inner container-fluid")
				div(class="navbar-header") 
					a(class="navbar-brand headertext", id="headertext") The Hunt
				ul(class="nav navbar-nav pull-right")
					li(class="active")
						a(href="#",id="navlink") FAQ
					li(class="active")
						a(href="#",id="navlink") Sponsorship/Media
					li(class="active")
						a(href="#",id="navlink") Contact Us
		div(class="jumbotron container-fluid row secondjumbo", id="bigfrontpageimage")
			div(id="explanatorytext")
				h1(class="frontheading",id="frontheading") Super fun paid scavenger hunt 
				b(id="smallheadingtext") The Hunt is an exhilarating, paid scavenger hunt taking place every few months in Boston, USA. When you sign up, you receive a clue via email on Hunt-Day, which is in July. You (and your friends!) will decipher that clue, which will lead you to the next clue, and then the next clue, all taking place under two hours. The first Bostonian to the last clue wins a $100 prize. 
				
				b(id="smallheadingtext",class="greentext") The Hunt is a great time, and only costs $2.
		div(class="jumbotron container-fluid row", id="frontpagejumbotron")
				div(class="col-sm-3 text-center",style="height: 100%;")
					div(class="row")
						div(class="col-sm-6 text-center",style="height: 100%;")
							img(src="/images/clue.png",class="frontpageimage",id="frontpageimage")
						div(class="col-sm-6 text-center",style="height: 100%;")
							i(id="jumbotext") Receive a text message clue on #{date}
				div(class="col-sm-3 text-center")
						div(class="row")
						div(class="col-sm-6 text-center",style="height: 100%;")
							img(src="/images/bostonmap.png",class="frontpageimage",id="frontpageimage")
						div(class="col-sm-6 text-center",style="height: 100%;")
							i(id="jumbotext") Follow the clues around Cambridge
				div(class="col-sm-3 text-center")
					div(class="row")
						div(class="col-sm-6 text-center",style="height: 100%;")
							img(src="/images/key.png",class="frontpageimage",id="frontpageimage")
						div(class="col-sm-6 text-center",style="height: 100%;")
							i(id="jumbotext") The last clue contains a secret key
				div(class="col-sm-3 text-center")
					div(class="row")
						div(class="col-sm-6 text-center",style="height: 100%;")
							img(src="/images/treasure.jpg",class="frontpageimage",id="frontpageimage")
						div(class="col-sm-6 text-center",style="height: 100%;")
							i(id="jumbotext") Win $100 when you find the clue
		div(class="container-fluid text-center pagination-centered nomarginrow" id="content")
			div(id="countdownholder" class="row")
				p(id="frontpagecountdowntext" class="lead") Time until the next hunt on July 15th:
				div(id="countdown", class="lead")
			div(id="hunt-join")
				form(id="form",action="/hunterjoin",method="post",onsubmit="return formvalidation()")
					input(type="text",id="HunterEmail",name="HunterEmail",style="color:#888;", value="Enter your email", onfocus="inputFocus(this)",onblur="inputBlur(this)")
					p(id="errormessageholder")
					div(id="submitbuttonholder")
						button(type="submit",action="post",id="frontpagesubmitbutton",class="submitbutton") I want to participate
			
					