html
	head
		title= "The Hunt"
		script(src="/javascripts/countdown.js")
		script(src="/javascripts/global.js")
		link(rel="icon", href="/images/logo.png")
		script(src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous")
		link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav(class="navbar navbar-default container-fluid",role="navigation",id="titlebar")
			div(class="container-fluid")
				div(class="navbar-header") 
					a(class="navbar-brand headertext") The Hunt: Paid Boston Scavenger Hunt
				ul(class="nav navbar-nav pull-right")
					li(class="active")
						a(href="#") What is this?
					li(class="active")
						a(href="#") Sponsorship/Media
		div(class="jumbotron container-fluid row", id="frontpagejumbotron")
				div(class="col-sm-3 text-center",style="height: 100%;")
					div(class="row")
						div(class="col-sm-6 text-center",style="height: 100%;")
							img(src="/images/bostonmap.png",class="frontpageimage",id="frontpageimage")
						div(class="col-sm-6 text-center",style="height: 100%;")
							p Walk around Boston
				div(class="col-sm-3 text-center")
						div(class="row")
						div(class="col-sm-6 text-center",style="height: 100%;")
							img(src="/images/clue.png",class="frontpageimage",id="frontpageimage")
						div(class="col-sm-6 text-center",style="height: 100%;")
							p Follow the text clues
				div(class="col-sm-3 text-center")
					div(class="row")
						div(class="col-sm-6 text-center",style="height: 100%;")
							img(src="/images/key.png",class="frontpageimage",id="frontpageimage")
						div(class="col-sm-6 text-center",style="height: 100%;")
							p Find the key
				div(class="col-sm-3 text-center")
					div(class="row")
						div(class="col-sm-6 text-center",style="height: 100%;")
							img(src="/images/treasure.jpg",class="frontpageimage",id="frontpageimage")
						div(class="col-sm-6 text-center",style="height: 100%;")
							p Win money
		div(class="vertical-divider row")
		div(class="container-fluid text-center pagination-centered nomarginrow" id="content")
			div(id="countdownholder" class="row")
				p(id="frontpagecountdowntext" class="lead") Time until the next hunt on July 15th:
				div(id="countdown", class="lead")
			div(id="hunt-join")
				form(id="form",action="/hunterjoin",method="post",onsubmit="return formvalidation()")
					input(type="text",id="HunterEmail",name="HunterEmail",style="color:#888;", value="HunterEmail", onfocus="inputFocus(this)",onblur="inputBlur(this)")
					p(id="errormessageholder")
					div(id="submitbuttonholder")
						button(type="submit",action="post",id="frontpagesubmitbutton",class="submitbutton") I want to participate
			
					