doctype html
html
  head
    title= "The Hunt"
    link(rel='stylesheet', href='/stylesheets/style.css')
	script(src="/javascripts/countdown.js")
  body
	div(id="content")
		p Thank you for joining the Hunt. Prepare to hunt on #{huntdate}
		p Check your inbox the week before the hunt. You will receive an email with additional information on key rules and details for this go-round of the hunt.
		p Insert countdown here
		p Here is some of your competition for the prize