doctype html
html
	head
		title= "The Hunt"
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src= '/javascripts/thankyoupage.js')
	body(onload="buildtable(#{users})")
		section(id="content")
			p Thanks! Look out for our email about the Hunt!