
@import url(//fonts.googleapis.com/css?family=Raleway);

a {
	color:black;
}



body{
	font: 14px "Raleway", Helvetica, Arial, sans-serif;
}



#addhunterpagetext{
	color:black;
}

#addpageimage{
	width:50%;
	margin-right: 0px;
}


#errormessageholder{
	color:black;
}

li{
	font-size: 14px;
}

#navbarlink{
	float:right;
	position: absolute;
	right: 0;
	top: 0;
}

#hunt-explanation{
	border-style: solid;
    border-width: 5px;
	background-color: #B82F2F;
}

#titlebar{
}

#titlebartitle{
	font-size: 16px;
}

#content{
	padding-top: 0;
	padding-bottom: 0;
	margin-top:0;
	vertical-align:middle;
	padding-top:0;
    border-bottom: thin dotted #DCDCDC;
}

#countdownholder{
	margin-top:0;
	padding-top:0;
}

#frontpagetestimonialbar{
	background-color: blue;
	height:15%;
	overflow:hidden;
}

#testimonials{
	background-color:pink;
}


.navbar {
    margin-bottom: 0 !important;
	width:100% !important;
	padding-bottom:0px;
	text-align:middle;
}

.navbar-inner{
	width:100% !important;
}




#frontpagejumbotron{
	width: 101%;
	height: 25%;
	font-size:1em;
	padding-bottom: 0%;
	padding-top: 1%;
	margin-bottom:0%;
	color: black;
	background: #76e2a3;

}

#hunteremail,#frontpagesubmitbutton{
	display:block;
	margin: 0 auto;
}

.green{
	color: green;
	font-size: 1.7em;
}
.frontpageimage{ 
  max-height:100%;
  height:75%;
  max-width: 40%;
  width:40%;
}

.text-center{
}

#joinform{
	border-style: solid;
    border-width: 5px;
	border-color:green;
	background-color:#21D583;
}

#helper{
	    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#helper2{
	height:20%;
	padding-bottom:0;
	margin-bottom:0;
}

#frontpageimageholder{
	height:10%;
	margin-right:0px;
	display:inline-block;
    vertical-align:middle;
}
#frontpageimagetextholder{
	height:100%;
	margin-right:0px;
	display:inline-block;
    vertical-align:middle;
	height: 430px; 
    line-height: 400px;
}
.frontpagetext{
	float: left;
	display:inline-block;
    vertical-align:middle;
}

.frontpagecolumn{
	display:inline-block;
    vertical-align:middle;
}

.frontpagediv{
	display:table-cell;
}

.jumbotrontext{
	font-size: 10%;
	vertical-align:middle;
}

.vertical-divider{
	height: 23%;
}


#hunter-join-content{
	background:white;
}

.headertext{
	font-size: 32px;
}

#frontpagetext{
	font-size: 16px;
}



#jumbotext{
	display: inline-block;
  vertical-align: middle;
  line-height: normal;     
  color:black;
}

#vcenter{
	display:table-cell;
	vertical-align:middle;
	table-layout: fixed;
	margin-top:0%;
}

#jumbotextholder{
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

#textbuffer{
	height:28%;
	padding-bottom:0;
	margin-bottom:0;
}

#centeredtext{
	display:table-cell;
	vertical-align:middle;
	table-layout: fixed;
	margin-top:20%;
}

.customnav{
	width:100%;
}

.navbar-brand{
}



#jumbotext{
	font-size: 1.0em;
}

#bigfrontpageimage{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	width:101%;
	height:45%;
	text-align:center;
	 margin: 0 auto;
	 position:relative;
}

#bannerimage{
	height:100%;
	width:102%;
}

#image-text{
	color: red;
	z-index:-1;
	position:relative;
}

#bigfrontpageimage{
  background: #e74c3c;
  width:100%;
}

#frontheading{
	font-size: 3.4em !important;
}

#smallheadingtext{
	font-size: 1.6em;
}

#explanatorytext{
	width:60%;
	text-align:center;
	position:relative;
	left:20%;
}

.greentext{
	color:black;
}

#jumbotext{
	color:black;
}

#frontpagecountdowntext{
	text-align:center;
	margin-bottom:0;
}

#hunt-join{
	padding-top:2%;
	width:20%;
	position: relative;
	left: 40%;
}


ul,li{
	font-size: 20px;
}