
@import url(//fonts.googleapis.com/css?family=Raleway);

a {
	color:black;
}



body{
	font: 14px "Raleway", Helvetica, Arial, sans-serif;
}



#addhunterpagetext{
	color:black;
}

#addpageimage{
	width:50%;
	margin-right: 0px;
}


#errormessageholder{
	color:white;
}

#navbarlink{
	float:right;
	position: absolute;
	right: 0;
	top: 0;
}

#hunt-explanation{
	border-style: solid;
    border-width: 5px;
}

#titlebar{
}

#titlebartitle{
	font-size: 16px;
}

#content{
	vertical-align:middle;
	padding-top:3%;
    border-bottom: thin dotted #DCDCDC;
}

#frontpagetestimonialbar{
	background-color: blue;
	height:15%;
	overflow:hidden;
}

#testimonials{
	background-color:pink;
}


.navbar {
    margin-bottom: 0 !important;
	width:100% !important;
	padding-bottom:0px;
	text-align:middle;
}

.navbar-inner{
	width:100% !important;
}




#frontpagejumbotron{
	width: 101%;
	height: 25%;
	font-size:1em;
	padding-bottom: 0;
	margin-bottom:0;

}

#frontpageimage{
}

.frontpageimage{ 
  max-height:60%;
  margin:auto;
  display:inline-block;
  border: 1px solid black;
  float:right;
  background: white;
}

#frontpageimageholder{
	height:10%;
	margin-right:0px;
	display:inline-block;
    vertical-align:middle;
}
#frontpageimagetextholder{
	height:100%;
	margin-right:0px;
	display:inline-block;
    vertical-align:middle;
height: 430px; 
    line-height: 400px;
}
.frontpagetext{
	float: left;
	display:inline-block;
    vertical-align:middle;
}

.frontpagecolumn{
	display:inline-block;
    vertical-align:middle;
}

.frontpagediv{
	display:table-cell;
}

.jumbotrontext{
	font-size: 10%;
	vertical-align:middle;
}

.vertical-divider{
	height: 23%;
}


#hunter-join-content{
	background:white;
}

.headertext{
	font-size: 32px;
}

#frontpagetext{
	font-size: 16px;
}



#jumbotext{
	height:10em;
}

#vcenter{
	display:table-cell;
	vertical-align:middle;
	table-layout: fixed;
	margin-top:0%;
}

#centeredtext{
	display:table-cell;
	vertical-align:middle;
	table-layout: fixed;
	margin-top:20%;
}

.customnav{
	width:100%;
}

.navbar-brand{
}



#jumbotext{
	font-size: 1.3em;
}

#bigfrontpageimage{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	width:101%;
	height:40%;
	text-align:center;
	 margin: 0 auto;
	 position:relative;
}

#bannerimage{
	height:100%;
	width:102%;
}

#image-text{
	color: red;
	z-index:-1;
	position:relative;
}

#bigfrontpageimage{
  background: url("/images/background.png");
  width:100%;
}

#frontheading{
	font-size: 2.8em !important;
}

#smallheadingtext{
	font-size: 1.4em;
}

#explanatorytext{
	width:60%;
	text-align:center;
	position:relative;
	left:20%;
}

.greentext{
	color:green;
}

#jumbotext{
	color:green;
}

#frontpagecountdowntext{
	text-align:center;
}

#hunt-join{
	padding-top:2%;
	width:20%;
	position: relative;
	left: 40%;
}