

a {
  color: #00B7FF;
}



body{
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background: url('/images/starbackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
   margin: 0px;
    width: 100%;
}


#countdown{
	color:white;
}

#addhunterpagetext{
	color:black;
}

#addpageimage{
	width:50%;
	margin-right: 0px;
}


#errormessageholder{
	color:white;
}

#navbarlink{
	float:right;
	position: absolute;
	right: 0;
	top: 0;
}

#hunt-explanation{
	border-style: solid;
    border-width: 5px;
}

#titlebar{
}

#titlebartitle{
	font-size: 16px;
}

#content{
	vertical-align:middle;
}

#frontpagetestimonialbar{
	background-color: blue;
	height:15%;
	overflow:hidden;
}

#testimonials{
	background-color:pink;
}

.nomarginrow{
	margin-top:0px;
	margin-bottom:0px;
}

.navbar {
    margin-bottom: 0 !important;
}


#frontpagejumbotron{
	width: 100%;
	height: 25%;
}

#frontpageimage{
}

.frontpageimage{ 
  max-height:100%;
  margin:auto;
  display:inline-block;
  border: 1px solid black;
  float:right;
}

#frontpageimageholder{
	height:10%;
	margin-right:0px;
	display:inline-block;
    vertical-align:middle;
}
#frontpageimagetextholder{
	height:100%;
	margin-right:0px;
	display:inline-block;
    vertical-align:middle;
height: 430px; 
    line-height: 400px;
}
.frontpagetext{
	float: left;
	display:inline-block;
    vertical-align:middle;
}

.frontpagecolumn{
	display:inline-block;
    vertical-align:middle;
}

.frontpagediv{
	display:table-cell;
}

.jumbotrontext{
	font-size: 10%;
	vertical-align:middle;
}

.vertical-divider{
	height: 23%;
}

#countdown{
	color: pink;
}

#hunter-join-content{
	background:white;
}

.headertext{
	font-size: 32px;
}

#frontpagetext{
	color:black;
	font-size: 16px;
}

#frontpagecountdowntext{
	color:white;
}


#jumbotext{
	height:10em;
	border:1px;
}

#vcenter{
	display:table-cell;
	vertical-align:middle;
	table-layout: fixed;
	margin-top:0%;
}

#centeredtext{
	display:table-cell;
	vertical-align:middle;
	table-layout: fixed;
	margin-top:20%;
}

.customnav{
	width:100%;
}